$mediumScreen: 993px;
.questionsCreate, .studentsCreate, .testGive {
    @media screen and (min-width: $mediumScreen) {
        width: 900px;
    }
    .custom-file-label{
        left:15px !important;
        right: 15px !important;
    }
}

.questionsList {
  .table td, .table th {
    vertical-align: middle !important;
  }

  img {
    object-fit: cover;
    object-position: 50% 50%;
  }
    
}
.Students {
  .table td, .table th {
    vertical-align: middle !important;
  }
}
.testSil, .subeSil {
  position: absolute;
  margin-top: 15px;
  padding: 1px 5px;
  border-radius: 25%;
  background-color: red;
  color: white;
  font-size: 11px;
  left: 48%;
  cursor: pointer;
  &:hover {
    background-color: rgb(214, 72, 72);
  }
}
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 270px;
  top: 55px;
  left: 0;
  background-color: #111;
  transition: 0.5s;
  padding-top: 22px;
  overflow: hidden;
}

.sidepanel a {
  white-space: nowrap;
  padding: 8px 8px 8px 12px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 32px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}

.dropdown {
  margin-top: 7px;
  button{
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle !important;
  }
  .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    color: #000000;
    a {
      padding: 6px 8px;
      color: #000000 !important;
      padding-left: 8px;
      width: 100% !important;
      display: block;
      &:hover {
        font-weight: 500;
      }
    }
  }
}

  .dropdown.show {
    .dropdown-menu {
      max-height: 200px;
      opacity: 1;
    }
  }